<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container-2">
            <div class="side-red-container">
                <div class="vertical">Vertical...
                    <h5>Top tile</h5>
                </div>
                <div class="tiles">...tiles
                    <h5>Bottom tile</h5>
                </div>
            </div>
            <div class="middle">Middle tile
                <h5>With an image</h5>
                <img src="/homework-css-flex/layout/Capture.JPG">
            </div>
        </div>
        <div class="wide-tile">Wide tile
            <h5>Aligned with the right tile</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint sequi quaerat adipisci blanditiis molestias doloremque nostrum impedit non, in ipsa eos exercitationem sit molestiae ab provident distinctio mollitia voluptates.</p>
        </div>
    </div>
    <div class="tall-tile">Tall tile
        <h5>With even more content</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit consequuntur possimus harum cupiditate excepturi doloribus nemo reprehenderit ipsam maiores, hic quae corporis inventore soluta debitis itaque, quasi accusamus beatae voluptatem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quos unde minima nulla similique quae illum at, qui enim doloremque magnam laborum. Possimus vero, velit eligendi architecto debitis minus necessitatibus?</p>
    </div>
</body>
</html>